body{
    text-align: center;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
}
#pic {   
        background-image: url(../assets/סקר2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
        padding-top: 150px;
        padding-bottom: 50px;
        
        /* margin-top:50px; */
        /* margin-bottom: 12px; */
        width: 100%;
        height: auto;
        /* z-index: 1; */
  
}
#pic>h1{
    color: white;
    text-align: center;
    z-index: 2;
   font-size: 35px;
  }
#headpicture{
    padding-top: 10px;
    padding-bottom: 5px;
    background-image: url(./assets/הורדה\ \(16\).jpg);
    margin-bottom: 20px;
    width: 100%;
    z-index: 1;
 }

#saeTopNanv {
    color: rgb(183, 178, 183);
}
.logo{
    height: 70px;
    width: auto;
}
